### Code below combine the features extracted from Complex Network and Nucleotide Acid Combinations

In [1]:
# import libraries
import pandas as pd

In [2]:
# import dataset - complex network
df_cn = pd.read_csv('/Users/eesoonhang/Desktop/capstone_data/complext_network_feature.csv', header=None)
df_cn.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,0.0,50.0,-0.113882,71.0,31.0,14.195070,1.0,1.0,1.0,100.0,...,0.103594,6.0,5.045455,30.530612,0.234770,10.0,4.454545,4.0,4.454545,44.0
1,0.0,50.0,-0.037723,64.0,34.0,12.786712,1.0,1.0,1.0,100.0,...,0.083333,9.0,6.877551,44.887755,0.100376,12.0,4.061224,5.0,4.000000,49.0
2,0.0,50.0,0.090505,88.0,22.0,24.372115,1.0,1.0,1.0,100.0,...,0.098990,8.0,6.511111,34.755102,0.138599,14.0,4.244444,5.0,4.355556,45.0
3,0.0,50.0,-0.128304,80.0,27.0,23.119256,1.0,1.0,1.0,100.0,...,0.108527,7.0,5.395349,29.775510,0.273153,12.0,4.255814,4.0,4.558140,43.0
4,0.0,50.0,-0.191277,72.0,26.0,21.118712,1.0,1.0,1.0,100.0,...,0.119512,6.0,4.756098,24.714286,0.243959,10.0,4.658537,4.0,4.780488,41.0

In [3]:
df_cn.shape

(304661, 78)

In [4]:
# import dataset - nucleotide acid combination
df_nac = pd.read_csv('/Users/eesoonhang/Desktop/capstone_data/train_in_encodedToNacSeq.csv')
df_nac.head()

,A,C,G,T,AA,AC,AG,AT,CA,CC,...,TCG,TCT,TGA,TGC,TGG,TGT,TTA,TTC,TTG,TTT
0,187,363,289,162,36,60,59,32,67,144,...,13,12,11,16,17,5,2,11,9,3
1,257,220,225,299,73,49,64,70,71,62,...,3,22,25,15,32,12,24,18,18,42
2,271,239,214,277,83,56,75,57,92,53,...,1,28,24,27,14,16,16,23,17,26
3,301,193,231,276,116,47,82,56,72,48,...,4,19,22,15,20,22,22,15,16,36
4,324,135,210,332,123,36,71,94,47,29,...,2,17,20,16,23,21,28,19,25,53

In [5]:
df_nac.shape

(304661, 84)

In [7]:
# rename the heaader for Complex Network Dataset
cols = []
for n in range(df_cn.shape[1]):
    cols.append('CN_' + str(n+1))
print(cols)

['CN_1', 'CN_2', 'CN_3', 'CN_4', 'CN_5', 'CN_6', 'CN_7', 'CN_8', 'CN_9', 'CN_10', 'CN_11', 'CN_12', 'CN_13', 'CN_14', 'CN_15', 'CN_16', 'CN_17', 'CN_18', 'CN_19', 'CN_20', 'CN_21', 'CN_22', 'CN_23', 'CN_24', 'CN_25', 'CN_26', 'CN_27', 'CN_28', 'CN_29', 'CN_30', 'CN_31', 'CN_32', 'CN_33', 'CN_34', 'CN_35', 'CN_36', 'CN_37', 'CN_38', 'CN_39', 'CN_40', 'CN_41', 'CN_42', 'CN_43', 'CN_44', 'CN_45', 'CN_46', 'CN_47', 'CN_48', 'CN_49', 'CN_50', 'CN_51', 'CN_52', 'CN_53', 'CN_54', 'CN_55', 'CN_56', 'CN_57', 'CN_58', 'CN_59', 'CN_60', 'CN_61', 'CN_62', 'CN_63', 'CN_64', 'CN_65', 'CN_66', 'CN_67', 'CN_68', 'CN_69', 'CN_70', 'CN_71', 'CN_72', 'CN_73', 'CN_74', 'CN_75', 'CN_76', 'CN_77', 'CN_78']

In [8]:
df_cn.columns = cols

In [10]:
# concatenate the two datasets into one
df_combined = pd.concat([df_nac, df_cn], axis=1)
df_combined.shape

(304661, 162)

In [12]:
# export the dataset
df_combined.to_csv('/Users/eesoonhang/Desktop/capstone_data/CN_NAC_combined.csv', index=False)

### Code below build a RandomForest

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

import pandas as pd
import numpy as np

import swifter

In [2]:
train_X = pd.read_csv('/Users/eesoonhang/Desktop/capstone_data/CN_NAC_combined.csv', usecols=lambda x: x!= '*Unnamed*')
train_y = pd.read_csv('/Users/eesoonhang/Desktop/capstone_data/train_out.csv', usecols=lambda x: x!= '*Unnamed*')
test_y = pd.read_csv('/Users/eesoonhang/Desktop/capstone_data/test_out.csv', usecols=lambda x: x!= '*Unnamed*')

### Code below take proportion of each class in train_y dataset to perform label encoding for output

In [3]:
# get a list of output y labels
y_label = train_y.sum(axis=0).index.tolist()

# compute the proportion of each output based on the entire dataset
y_prop = train_y.sum(axis=0) / train_y.shape[0]

# form a dictionary to represent y_label and its proportion
y_dict = {y_label[i]: y_prop[i] for i in range(len(y_label))}

# sort the dictionary
y_dict_sorted = sorted(y_dict.items(), key=lambda item: item[1], reverse=True)

# create a mapping for y_label based on the descending order of y_proportion
y_map = {}

for idx, item in enumerate(y_dict_sorted):
    y_map[item[0]] = idx + 1
    
y_map

{'hm6A': 1,
 'Atol': 2,
 'hm1A': 3,
 'hm5U': 4,
 'hm5C': 5,
 'hPsi': 6,
 'hm6Am': 7,
 'hTm': 8,
 'hCm': 9,
 'hAm': 10,
 'hGm': 11,
 'hm7G': 12}

In [75]:
train_y.head()

   hAm  hCm  hGm  hTm  hm1A  hm5C  hm5U  hm6A  hm6Am  hm7G  hPsi  Atol
0  1.0  0.0  0.0  0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
1  1.0  0.0  0.0  0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
2  1.0  0.0  0.0  0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
3  1.0  0.0  0.0  0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
4  1.0  0.0  0.0  0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0

In [76]:
for k, v in y_map.items():
    train_y[k] = train_y[k].apply(lambda x : v if x >= 1 else 0)

In [4]:
for k, v in y_map.items():
    test_y[k] = test_y[k].apply(lambda x: v if x >=1 else 0)

In [77]:
train_y.head()

   hAm  hCm  hGm  hTm  hm1A  hm5C  hm5U  hm6A  hm6Am  hm7G  hPsi  Atol
0   10    0    0    0     0     0     0     0      0     0     0     0
1   10    0    0    0     0     0     0     0      0     0     0     0
2   10    0    0    0     0     0     0     0      0     0     0     0
3   10    0    0    0     0     0     0     0      0     0     0     0
4   10    0    0    0     0     0     0     0      0     0     0     0

In [5]:
test_y.head()

   hAm  hCm  hGm  hTm  hm1A  hm5C  hm5U  hm6A  hm6Am  hm7G  hPsi  Atol
0   10    0    0    0     0     0     0     0      0     0     0     0
1   10    0    0    0     0     0     0     0      0     0     0     0
2   10    0    0    0     0     0     0     0      0     0     0     0
3   10    0    0    0     0     0     0     0      0     0     0     0
4   10    0    0    0     0     0     0     0      0     0     0     0

In [78]:
train_y['output'] = train_y.sum(axis=1)
train_y.head()

   hAm  hCm  hGm  hTm  hm1A  hm5C  hm5U  hm6A  hm6Am  hm7G  hPsi  Atol  output
0   10    0    0    0     0     0     0     0      0     0     0     0      10
1   10    0    0    0     0     0     0     0      0     0     0     0      10
2   10    0    0    0     0     0     0     0      0     0     0     0      10
3   10    0    0    0     0     0     0     0      0     0     0     0      10
4   10    0    0    0     0     0     0     0      0     0     0     0      10

In [ ]:
test_y['output'] = test_y.sum(axis=1)

In [79]:
train_y_encoded = train_y[['output']]
train_y_encoded.to_csv('/Users/eesoonhang/Desktop/capstone_data/encoded_train_y.csv')

In [ ]:
test_y_encoded = test_y[['output']]
test_y_encoded.to_csv('/Users/eesoonhang/Desktop/capstone_data/encoded_test_y.csv')